*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
 
body{
    font-family: 'Martian Mono', monospace;
} 

nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;

}
.col-2 img{
    max-width: 125%;
    padding: 0px 0;
}
.hide-img{
    mix-blend-mode: multiply;
    filter: contrast(5);
}
.img-rm{
    mix-blend-mode: multiply;
}
.col-2 h1{
    font-size: 55px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background:#555;
    color:#fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background:#D2042D;
}
.header{
    background:radial-gradient(#fff,#ffd6d6);
}
.header .row{
     margin-top: 70px;
}
.img-menu{
    mix-blend-mode: multiply;
    width: 28px;
    margin-left: 20px;
    display: none;

}

.img-mn{
    mix-blend-mode: multiply;
    height: 35px;
    width: 50px;

}
.categories{
    margin: 70px 0;
}

.col-3 img{ 
    width: 100%;
}
.small-container{
    max-width:1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}
.small-container img{
    border: 2px solid red;
    border-style: hidden;
    transition: transform 0.2s ease-in-out;
}

.col-2 p {
    font-size: 16px;
    color: #333; 
    transition: font-family 0.3s, font-size 0.3s, color 0.3s;
}




.col-2 p:hover { 
    color: #FF3131; 
}
.col-2 h1 { 
    color: #333; 
    transition: font-family 0.3s, font-size 0.3s, color 0.3s;
}

.col-2 h1:hover {
    color: #FF2400; 
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px ;
    margin-bottom: 50px;
    transition: tranform 0.6s;
}

.col-4:hover{
    transform: translateY(-25px);
}



.col-4 img{
    width: 100%;
}
.fp-container{
    max-width:1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    transition: tranform 0.6s;
}
.fp-container h2{
    text-align: center;
    position: relative;
    margin: 0 auto 80px;
    line-height: 60px;
}
.fp-container h2::after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 50%;
    height: 6px;
    background-color: crimson;
    border-radius: 10px;
    transform: translateX(-50%); 

}

.star {
    font-size: 24px;
    color: red; 
}

.rating {
    margin-top: 10px;
}


.link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: slategray;
    font-weight: 800;
}

.link::before,
.link::after {
content: '';
position: absolute;
left: 0;
width: 100%;
height: 2px;
background-color: crimson;
transform: scaleX(0);
transition: transform 0.25s;
}

.link::before {
   top: -3px;
    transform-origin: left;
}

.link::after {
    bottom: -3px;
    transform-origin: right;
}

.link:hover::before,
.link:hover::after,
.active::before,
.active::after {
transform: scaleX(1);
}


.tooltip {
    position: relative;
    display: inline-block;
  }
  
.tooltip .verygood {
    visibility: hidden;
    width: 120px;
    background-color: red;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
  }
  
.tooltip:hover .verygood {
    visibility: visible;
    opacity: 1;
  }  

.offer{
    background:radial-gradient(#fff,#ffd6d6);
    padding: 30px 0;
    }
.offer img{
    transform: translateX(-35%);
}
.col-2 p{
    color: red;
}
small{
    font-size: medium;
    color: maroon;
}

@media only screen and (max-width:800px){
    nav ul{
        position: absolute;
        top:70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;

    }
    nav ul li a{
        color: #fff;
    }
    .img-menu{
        display: block;
        cursor: pointer;
    }
}

@media only screen and (max-width:800px){
    .row{
        text-align: center;
    }
    .col-2,.col-3,.col-4{
        flex-basis: 100%;
    }
}